.user-balance {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background-color: #dadada;
  border-radius: 4px;
}
.balance-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  background-color: #f2f2f2;
  height: 40px;
  border-radius: 4px;
  flex-grow: 1;
  .amount {
    text-align: end;
    flex-grow: 1;
  }
  .symbol {
  }
}
